<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/table.css">
  <script src="https://kit.fontawesome.com/93b8db8093.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Task Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {{!-- <a class="nav-link active" aria-current="page" href="/">Home</a> --}}
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/logout">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </nav>

  <h2 class="text-center heading">Weekly Reports of your Employees</h2>
 
 <div class="text-center">
  <button class="btn btn-outline-primary" id="prev">
    <i class="fa-solid fa-arrow-left spaceit"></i>Previous Week
  </button>

  <button class="btn btn-outline-primary" id="next">
    Next Week<i class="fa-solid fa-arrow-right spaceit"></i>
  </button>
  </div>
  <table class="table table-striped table-primary" id="del">
    {{!-- <thead> --}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Monday</th>
        <th scope="col" class="text-center">Tueday</th>
        <th scope="col" class="text-center">Wednesday</th>
        <th scope="col" class="text-center">Thursday</th>
        <th scope="col" class="text-center">Friday</th>
      </tr>
      {{!--
    </thead> --}}
    <tbody>
      {{!-- <tr>
        <th scope="row">1</th>
        <td>Name</td>
        <td>Otto</td>
        <td><textarea name="" id="" cols="25" rows="10"></textarea></td>
      </tr>
      <td><textarea name="" id="" cols="25" rows="10"></textarea></td>
      <td><textarea name="" id="" cols="25" rows="10"></textarea></td>
      <td><textarea name="" id="" cols="25" rows="10"></textarea></td>
      <td><textarea name="" id="" cols="25" rows="10"></textarea></td> --}}
      <tr>
        {{!-- <th scope="row">1</th>
        <td>Name</td>
        <td>Otto</td>
        <td>
          <textarea name="mon" id="" cols="25" rows="10">
        </textarea>
        </td>
        <td>
          <textarea name="tue" id="" cols="25" rows="10">

        </textarea>
        </td>
        <td>
          <textarea name="wed" id="" cols="25" rows="10">

        </textarea>
        </td>
        <td>
          <textarea name="thu" id="" cols="25" rows="10">

        </textarea>
        </td>
        <td>
          <textarea name="fri" id="" cols="25" rows="10">

        </textarea>
        </td> --}}
      </tr>
    </tbody>
  </table>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="/scripts/tables.js"></script>
</body>

</html>