
body{
    background-color:gainsboro;
}
.buttons{
    display: flex;
    margin: auto;
    /* width: 50%;
    height: 50%; */
    padding: 10px;
}
.space{
    width: 100%;
  /* height: auto; */
  /* display: inline-block; */
}
.bt1{
    
    height: 250px;
    width: 250px;
}
.bt2{
    
    height: 250px;
    width: 250px;
}
h3{
    padding: 10%;
}